# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import gkey

# Configure gmaps
gmaps.configure(api_key=gkey)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "WeatherPy_Database.csv"


# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)


# Display sample data
city_data_df.head(10)

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Jutai,BR,-5.1833,-68.9000,98.71,34,26,3.56,scattered clouds
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,75.06,69,100,12.66,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,75.36,94,40,4.61,scattered clouds
3,3,Bredasdorp,ZA,-34.5322,20.0403,56.14,72,15,7.83,few clouds
4,4,Nikolskoye,RU,59.7035,30.7861,48.09,93,95,4.61,overcast clouds
5,5,Barrow,US,71.2906,-156.7887,33.82,86,100,12.66,overcast clouds
6,6,Ponta Do Sol,PT,32.6667,-17.1000,76.01,85,92,1.30,overcast clouds
7,7,Hobart,AU,-42.8794,147.3294,49.86,80,100,4.61,overcast clouds
8,8,Marand,IR,38.4329,45.7749,69.53,18,1,5.50,clear sky
9,9,Las Vegas,US,36.1750,-115.1372,85.60,27,0,3.44,clear sky

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 89

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

# Display sample data
preferred_cities_df.head(10)

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,75.06,69,100,12.66,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,75.36,94,40,4.61,scattered clouds
6,6,Ponta Do Sol,PT,32.6667,-17.1000,76.01,85,92,1.30,overcast clouds
8,8,Marand,IR,38.4329,45.7749,69.53,18,1,5.50,clear sky
9,9,Las Vegas,US,36.1750,-115.1372,85.60,27,0,3.44,clear sky
13,13,Olivehurst,US,39.0955,-121.5522,85.89,68,0,3.44,clear sky
15,15,Butaritari,KI,3.0707,172.7902,81.57,71,28,20.65,scattered clouds
19,19,Zarand,IR,30.8127,56.5640,70.05,19,0,5.44,clear sky
20,20,San Ramon,US,37.7799,-121.9780,68.36,86,0,0.00,clear sky
21,21,San Cristobal,VE,7.7669,-72.2250,75.38,72,67,1.59,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.

clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,WeatherPy_Database,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Arraial Do Cabo,BR,-22.9661,-42.0278,75.06,69,100,12.66,overcast clouds
2,2,Vaini,TO,-21.2000,-175.2000,75.36,94,40,4.61,scattered clouds
6,6,Ponta Do Sol,PT,32.6667,-17.1000,76.01,85,92,1.30,overcast clouds
8,8,Marand,IR,38.4329,45.7749,69.53,18,1,5.50,clear sky
9,9,Las Vegas,US,36.1750,-115.1372,85.60,27,0,3.44,clear sky
13,13,Olivehurst,US,39.0955,-121.5522,85.89,68,0,3.44,clear sky
15,15,Butaritari,KI,3.0707,172.7902,81.57,71,28,20.65,scattered clouds
19,19,Zarand,IR,30.8127,56.5640,70.05,19,0,5.44,clear sky
20,20,San Ramon,US,37.7799,-121.9780,68.36,86,0,0.00,clear sky
21,21,San Cristobal,VE,7.7669,-72.2250,75.38,72,67,1.59,broken clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [7]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
1   Arraial Do Cabo      BR     75.06     overcast clouds -22.9661  -42.0278
2             Vaini      TO     75.36    scattered clouds -21.2000 -175.2000
6      Ponta Do Sol      PT     76.01     overcast clouds  32.6667  -17.1000
8            Marand      IR     69.53           clear sky  38.4329   45.7749
9         Las Vegas      US     85.60           clear sky  36.1750 -115.1372
13       Olivehurst      US     85.89           clear sky  39.0955 -121.5522
15       Butaritari      KI     81.57    scattered clouds   3.0707  172.7902
19           Zarand      IR     70.05           clear sky  30.8127   56.5640
20        San Ramon      US     68.36           clear sky  37.7799 -121.9780
21    San Cristobal      VE     75.38       broken clouds   7.7669  -72.2250

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [8]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Arraial Do Cabo,BR,75.06,overcast clouds,-22.9661,-42.0278,
2,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
6,Ponta Do Sol,PT,76.01,overcast clouds,32.6667,-17.1000,
8,Marand,IR,69.53,clear sky,38.4329,45.7749,
9,Las Vegas,US,85.60,clear sky,36.1750,-115.1372,
13,Olivehurst,US,85.89,clear sky,39.0955,-121.5522,
15,Butaritari,KI,81.57,scattered clouds,3.0707,172.7902,
19,Zarand,IR,70.05,clear sky,30.8127,56.5640,
20,San Ramon,US,68.36,clear sky,37.7799,-121.9780,
21,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [9]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}  
hotel_get_df = requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json")
hotel_get_df

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [10]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try: hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        hotel_df.loc[index, "Hotel Name"] = None
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Arraial Do Cabo,BR,75.06,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
2,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Ponta Do Sol,PT,76.01,overcast clouds,32.6667,-17.1000,Hotel do Campo
8,Marand,IR,69.53,clear sky,38.4329,45.7749,کوچه صفا
9,Las Vegas,US,85.60,clear sky,36.1750,-115.1372,Plaza Hotel & Casino
13,Olivehurst,US,85.89,clear sky,39.0955,-121.5522,Comfort Suites Marysville-Yuba City
15,Butaritari,KI,81.57,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
19,Zarand,IR,70.05,clear sky,30.8127,56.5640,مهمانسرای فناپ
20,San Ramon,US,68.36,clear sky,37.7799,-121.9780,San Ramon Marriott
21,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,Pirineos

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [23]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [26]:
# Display sample data
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Arraial Do Cabo,BR,75.06,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
2,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Ponta Do Sol,PT,76.01,overcast clouds,32.6667,-17.1000,Hotel do Campo
8,Marand,IR,69.53,clear sky,38.4329,45.7749,کوچه صفا
9,Las Vegas,US,85.60,clear sky,36.1750,-115.1372,Plaza Hotel & Casino

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head()

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [33]:
# Set the file name.
Clean_Hotel_Database = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
city_data_df.to_csv(Clean_Hotel_Database, index_label="WeatherPy_vacation")

# Store the CSV you saved created in part one into a DataFrame.

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [28]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [29]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto Praia</dd>\n<dt>City</dt><dd>Arraial Do Cabo</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 75.06 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 75.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel do Campo</dd>\n<dt>City</dt><dd>Ponta Do Sol</dd>\n<dt>Country</dt><dd>PT</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.01 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>کوچه صفا</dd>\n<dt>City</dt><dd>Marand</dd>\n<dt>Country</dt><dd>IR</dd>\n<dt>Current Weather</dt><dd>clear sky and 69.53 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Plaza Hotel & Casino</dd>\n<dt>City</dt><dd>Las Vegas</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.6 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Comfort Suites Marysville-Yuba City</dd>\n<dt>City</dt><dd>Olivehurst</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 85.89 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 81.57 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>مهمانسرای فناپ</dd>\n<dt>City</dt><dd>Zarand</dd>\n<dt>Country</dt><dd>IR</dd>\n<dt>Current Weather</dt><dd>clear sky and 70.05 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>San Ramon Marriott</dd>\n<dt>City</dt><dd>San Ramon</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 68.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pirineos</dd>\n<dt>City</dt><dd>San Cristobal</dd>\n<dt>Country</dt><dd>VE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 75.38 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [30]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1  -22.9661  -42.0278
2  -21.2000 -175.2000
6   32.6667  -17.1000
8   38.4329   45.7749
9   36.1750 -115.1372
13  39.0955 -121.5522
15   3.0707  172.7902
19  30.8127   56.5640
20  37.7799 -121.9780
21   7.7669  -72.2250

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [31]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Call the figure to plot the data.
fig = gmaps.figure()


# Create a figure to add the Google map as a layer

fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))