# Deliverable 3. Create a Travel Itinerary Map.
----
1. Import the vacation CSV file. 
2. From the map above with pick 4 cities that are in close proximity (on the same continent) that the customer would travel to and create a directions layer map.
3. For the "travel_mode" use either "DRIVING", "BICYCLING", or "WALKING".
4. Take a screenshot of the route and save it. 
5. Then create a marker layer for the four cities. Each city will should have a pop-up marker that contains
    - The hotel name
    - The city
    - The country
    - The current weather description and the maximum temperature
---

## Make sure the initial dependencies and the Google API key are imported.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import gkey

In [2]:
# Configure gmaps
gmaps.configure(api_key=gkey)

In [3]:
gmaps

## From your `Vacation_Search` folder from Deliverable 2, import the `WeatherPy_vacation.csv` file as a DataFrame named `vacation_df`

In [4]:
# Read the WeatherPy_vacation.csv into a DataFrame
file_path = "WeatherPy_vacation.csv"
vacation_df = pd.read_csv(file_path)


# Display sample data
vacation_df.head(10)

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Arraial Do Cabo,BR,75.06,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
1,2,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,6,Ponta Do Sol,PT,76.01,overcast clouds,32.6667,-17.1000,Hotel do Campo
3,8,Marand,IR,69.53,clear sky,38.4329,45.7749,کوچه صفا
4,9,Las Vegas,US,85.60,clear sky,36.1750,-115.1372,Plaza Hotel & Casino
5,13,Olivehurst,US,85.89,clear sky,39.0955,-121.5522,Comfort Suites Marysville-Yuba City
6,15,Butaritari,KI,81.57,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
7,19,Zarand,IR,70.05,clear sky,30.8127,56.5640,مهمانسرای فناپ
8,20,San Ramon,US,68.36,clear sky,37.7799,-121.9780,San Ramon Marriott
9,21,San Cristobal,VE,75.38,broken clouds,7.7669,-72.2250,Pirineos

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [5]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## In this step, you will set-up the pop-up markers. Review the code to create a marker layer map of the vacation search results. This code is the same as in Deliverable 2.

In [6]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
print(len(locations), len(hotel_info))

336 336

In [8]:
# Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

## From the vacation search map, *choose four cities* that a customer might want to visit. They should be close together and in the same country.

In [9]:
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Mormugao"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Mormugao"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Bubaque"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Pitimbu"]

## Use the `to_numpy()` function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

In [10]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'vacation_start: {start}, vacation_end: {end}')

vacation_start: (15.4, 73.8), vacation_end: (15.4, 73.8)

In [11]:
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'stop1: {vacation_stop1}, stop2: {vacation_stop2}, stop3: {vacation_stop3}')

stop1:     Unnamed: 0    City Country  Max Temp Current Description     Lat  \
32          72  Laguna      US     83.08           clear sky  38.421

         Lng                                         Hotel Name
32 -121.4238  Holiday Inn Express & Suites Elk Grove Central...  , stop2:     Unnamed: 0     City Country  Max Temp Current Description      Lat  \
30          69  Bubaque      GW      82.8           clear sky  11.2833

        Lng          Hotel Name
30 -15.8333  Casa Dora, Bubaque  , stop3:     Unnamed: 0     City Country  Max Temp Current Description     Lat  \
11          30  Pitimbu      BR     84.79           clear sky -7.4706

        Lng        Hotel Name
11 -34.8086  Reserva do Abiaí

In [12]:
vacation_df.head()

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Arraial Do Cabo,BR,75.06,overcast clouds,-22.9661,-42.0278,Pousada Porto Praia
1,2,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,6,Ponta Do Sol,PT,76.01,overcast clouds,32.6667,-17.1000,Hotel do Campo
3,8,Marand,IR,69.53,clear sky,38.4329,45.7749,کوچه صفا
4,9,Las Vegas,US,85.60,clear sky,36.1750,-115.1372,Plaza Hotel & Casino

## Use the [gmaps documentation](https://jupyter-gmaps.readthedocs.io/en/latest/tutorial.html#directions-layer) to create a directions layer map using the variables from the previous step. Where the starting and ending city are the same city, the `waypoints` are the three other cities, and the `travel_mode` is either `"DRIVING"`, `"BICYCLING"`, or `"WALKING"`.

In [13]:
# Define a new figure object
fig = marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Create a direction layer map using the start and end latitude-longitude pairs, and stop1, stop2, and stop3 as the waypoints.
# The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()

vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode= 'DRIVING')


# Add the layer to the map

fig.add_layer(vacation_itinerary)

# YOUR CODE HERE
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
!gmaps --version

zsh:1: command not found: gmaps

## Use the provided `concat()` function code snippet to combine the four separate city DataFrames into one DataFrame.

In [15]:
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat(
    [
        vacation_start,
        vacation_stop1,
        vacation_stop2,
        vacation_stop3,
        vacation_end
    ],
    ignore_index = True
)

# Display sample data
itinerary_df

,Unnamed: 0,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,53,Mormugao,IN,78.06,scattered clouds,15.4000,73.8000,Coconut Creek Resort
1,72,Laguna,US,83.08,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...
2,69,Bubaque,GW,82.80,clear sky,11.2833,-15.8333,"Casa Dora, Bubaque"
3,30,Pitimbu,BR,84.79,clear sky,-7.4706,-34.8086,Reserva do Abiaí
4,53,Mormugao,IN,78.06,scattered clouds,15.4000,73.8000,Coconut Creek Resort

## Refactor the code from Step 6 to create a new marker layer map of the cities on the travel route.

In [18]:
# Review the formatting template
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# Get the data from each row and add it to the formatting template and store the data in a list
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
locations

       Lat       Lng
0  15.4000   73.8000
1  38.4210 -121.4238
2  11.2833  -15.8333
3  -7.4706  -34.8086
4  15.4000   73.8000

In [19]:
# Add a marker layer for each city to the map.

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Define a new figure object
fig = gmaps.figure()

# Add the layer to the map
fig.add_layer(marker_layer)

# Display the map
fig

Figure(layout=FigureLayout(height='420px'))